body
{
    background-image: url('2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p
{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

h1
{
    color: white;
}
a
{
    color: red;
}
a.video
{
    color: aqua;
    font-size: larger;
}

a:hover
{
    background-color: red;
    color: blue
}